{% load static %}
<!--Load bootstrap-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            {% if user.is_authenticated %}
                <div class="navbar-header">
                    <a class="navbar-brand" href=""><strong>{{ user }}</strong></a>
                </div>
                <li class="{% if active == 'profile' %} active {% endif %}" id="profile"><a href="{% url 'profile_url' %}">Profile</a></li>
                <li class="{% if active == 'catalog' %} active {% endif %}" id="catalog"><a href="{% url 'catalog_url' %}">Catalog</a></li>
                <li class="{% if active == 'library' %} active {% endif %}" id="users-library"><a href="{% url 'users_books_url' pk_user=user.pk %}">My Library</a></li>
                {% if view.kwargs.pk_user %}
                    {% if view.kwargs.pk_user|add:"0" != user.pk|add:"0" %}
                        <div class="navbar-header">
                            <span class="navbar-brand" ><strong>(friend's Library)</strong></span>
                        </div>
                    {% endif %}
                {% endif %}
            {% else %}
                <li class="{% if active == 'main_page' %} active {% endif %}" id="main_page"><a href="/">Main Page</a></li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="{% if active == 'logout' %} active {% endif %}" id="logout"><a href="{% url 'logout_url' %}"><span class="glyphicon glyphicon-log-out"></span>
                    Logout</a></li>
            {% else %}
                <li class="{% if active == 'signup' %} active {% endif %}" id="signup"><a href="/accounts/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li class="{% if active == 'login' %} active {% endif %}" id="login"><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
                <li><a href="/admin/">Admin</a></li>
            {% endif %}
        </ul>
    </div>
</nav>