{% extends 'base_catalog.html' %}

{% block catalog_content %}

    <h1>Book search</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Search for book</div>
        <div class="panel-body">
            <form method="get">
                {{ filter.form }}
                <button type="submit">Search</button>
            </form>
            <ul class="list-group">
                {% for book in filter.qs %}
                    <li class="list-group-item">
                        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{ book.author }})
{#                        <span class="pull-right"><a href="{% url 'users_book_create_url' pk_user=user.pk %}"> Add to my library </a></span>#}

                            <form action="{% url 'users_book_create_url' pk_user=user.pk %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="book_pk" value="{{ book.pk }}">
                                <button class="btn btn-default" name="sub_adding_by_book">Add to my library</button>
                            </form>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}