{% extends 'base_library.html' %}

{% block catalog_content %}

    <h1>My Books</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Search for book in your Library</div>
        <div class="panel-body">
            <form method="get">
                {{ filter.form }}
                <button type="submit">Search</button>
            </form>
            <ul class="list-group">
                {% for book_instance in filter.qs %}
                    <li class="list-group-item {% if book_instance.is_overdue %}text-danger{% endif %}">
                        <a href="{% url 'book_detail_url' book_instance.book.pk %}">{{ book_instance.book.title }} </a>({{ book_instance.book.author }})
                        <span class="pull-right">
                            {% if request.user.pk|add:"0" == request.resolver_match.kwargs.pk_user|add:"0" %}
                                <a href="{% url 'book_reading_history_url' pk_user=request.resolver_match.kwargs.pk_user pk=book_instance.pk %}"> Reading  </a>
                                <a href="{% url 'books_history_url' pk_user=request.resolver_match.kwargs.pk_user pk=book_instance.pk %}"> Lending </a>
                                <a href="{% url 'users_books_update_url' pk_user=request.resolver_match.kwargs.pk_user pk=book_instance.pk %}"> Edit </a>
                                <a href="{% url 'users_books_delete_url' pk_user=request.resolver_match.kwargs.pk_user pk=book_instance.pk %}">
                                    <span class="text-muted"> Delete </span>
                                </a>
                            {% endif %}
                        </span>
                        {% if request.user.pk|add:"0" == request.resolver_match.kwargs.pk_user|add:"0" %}
                            {% if book_instance.status == 'a' %}
                                <span class="text-success">
                                    (allowed)
                                </span>
                            {% elif book_instance.status == 'l' %}
                                <span class="text-warning">
                                    (<strong>loaned to: </strong>{{ book_instance.book_holder }} <strong>from </strong> {{ book_instance.borrowed_day }})
                                </span>
                            {% elif book_instance.status == 'o' %}
                                <span class="text-warning">
                                    (<strong>loaned to: </strong>outside <strong>from </strong> {{ book_instance.borrowed_day }})
                                </span>
                            {% endif %}
                            {% if book_instance.now_reading %}
                                <span class="text-info">
                                    (<strong>now reading</strong>)
                                </span>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}