{% extends 'base.html' %}
{% load static %}
<!--Load bootstrap-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}


{% block nav %}{% include "navbar.html"  with active='profile' %}{% endblock %}

{% block title %}Profile{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"/>
{% endblock %}

{% block content %}

    <div class="container">
        <h2>You are logged as: <span class="text-info">{{ user }}</span></h2>
        <p class="text-muted">({{ user.email }})</p>

        <div class="panel panel-default">
            <div class="panel-heading">Lending statistics</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Borrowed Books: <strong class="text-info">{{ borrowed_count }}</strong>
                        <a class="pull-right" href="{% url 'borrowed_books_url' pk_user=user.pk %}">see more..</a>
                    </li>
                    <li class="list-group-item">Loaned Books: <strong class="text-info">{{ lend_count }}</strong>
                        <a class="pull-right" href="{% url 'users_books_url' pk_user=user.pk %}">see more..</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Reading statistics</div>
            <div class="panel-body">
                <p>Read since <strong>{{ last_month }}</strong>: <strong class="text-info">{{ book_count }}</strong></p>
                {% if book_list %}
                    <ol class="list-group">
                        {% for read_book in book_list %}
                            <li class="list-group-item">
                                <a href="
                                    {% if read_book.book_instance.book %}{% url 'users_books_update_url' pk_user=user.pk pk=read_book.book_instance.pk %}
                                    {% else %}
                                    {% endif %}">{{ read_book.book_instance.book.title }}</a>
                                <span class="text-muted"> ({{ read_book.start_reading }} - {{ read_book.end_reading }})</span>
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}

                <p>Currently reading: <strong class="text-info">{{ cur_book_count }}</strong></p>
                {% if cur_book_list %}
                    <ol class="list-group">
                        {% for read_book in cur_book_list %}
                            <li class="list-group-item">
                                <a href="
                                    {% if read_book.book_instance.book %}{% url 'users_books_update_url' pk_user=user.pk pk=read_book.book_instance.pk %}
                                    {% else %}
                                    {% endif %}">{{ read_book.book_instance.book.title }}</a>
                                <span class="text-muted"> ({{ read_book.start_reading }} - now)</span>
                            </li>
                        {% endfor %}
                    </ol>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}