{% extends "base.html" %}
{% load static %}
<!--Load bootstrap-->
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load i18n %}
{% load account socialaccount %}

{% block nav %}{% include "navbar.html"  with active='library'%}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'catalog.css' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <ul class="nav nav-pills">
            <li><a href="{% url 'users_books_url' pk_user=request.resolver_match.kwargs.pk_user %}">My books</a></li>
            {% if request.user.pk|add:"0" == request.resolver_match.kwargs.pk_user|add:"0" %}
                <li><a href="{% url 'borrowed_books_url' pk_user=request.resolver_match.kwargs.pk_user %}">Borrowed books</a></li>
            {% endif %}
            <li><a href="{% url 'users_book_create_url' pk_user=request.resolver_match.kwargs.pk_user %}">Add book</a></li>
        </ul>

        {% block catalog_content %}{% endblock %}

        {% block pagination %}
            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                        {% if page_obj.has_next %}
                            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}
        {% endblock %}
    </div>

{% endblock %}

{% block scipt %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(function () {

            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "2017:2018",
                minDate: new Date(),
                altFormat: "yyyy-mm-dd",
                // You can put more options here.

            });
        });
    </script>
{% endblock %}


