{% extends "base_catalog.html" %}

{% block catalog_content %}

    <h1>Content</h1>
    <div class="panel panel-default">
        <div class="panel-heading">The library has the following record counts:</div>
        <ul class="list-group-item panel-body">
            <li class="list-group-item"><strong>Books:</strong> {{ num_books }}</li>
            <li class="list-group-item"><strong>Copies:</strong> {{ num_instances }}</li>
            <li class="list-group-item"><strong>Copies available:</strong> {{ num_instances_available }}</li>
        </ul>

    </div>
    </div>

{% endblock %}